extends layout

block content
	.container
		.row.text-center
			.col-sm
				h2
					i.fas.fa-sun.fa-5x.text-center.mb-3
				h1 Radial Meetings
				h2 A Granted Simile
				h3 A Gnarliest Dime
				h4.mb-3 A Mineral Digest
				button.btn.btn-raised.btn-primary.btn-lg.mr-3 Imprints
				button.btn.btn-dark.bmd-btn-fab(type='button')
					i.material-icons all_inclusive
			.col-sm
				h2.mb-2
					i.fas.fa-chess.fa-5x.text-center.mb-3
				h1 Radial Meetings
				h2 A Granted Simile
				h3 A Gnarliest Dime
				h4.mb-3 A Mineral Digest
				.d-inline
					button.btn.btn-raised.btn-dark.btn-lg.mr-4 Offprints
					button.btn.btn-secondary.bmd-btn-fab(type='button' href="/mark-twain")
						i.material-icons all_inclusive

			.col-sm
				h2.mb-2
					i.fas.fa-chess-queen.fa-5x.text-center.mb-3
				h1 Radial Meetings
				h2 A Granted Simile
				h3 A Gnarliest Dime
				h4.mb-3 A Mineral Digest
				.d-inline
					button.btn.btn-raised.btn-dark.btn-lg.mr-4 Offprints
					button.btn.btn-secondary.bmd-btn-fab(type='button' href="/jacob-riis")
						i.material-icons all_inclusive
