doctype html
html
	head
		title Tragedian Miles, or, a Gradient Slime
		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons')

		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.1.1')
			
			
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css')

		link(rel='stylesheet', href='/stylesheets/style.css')

		style.
			
			body {
			font-family: "News Cycle", sans-serif;
			font-weight: 300 !important;
			font-style: normal;
			}
			
			h1, h2, h3, h4, h5, h6 {
			font-family: 'News Cycle', sans-serif;
			font-weight: 300 !important;
			font-style: normal;
			}
			
			.dignity {
			font-family: 'News Cycle', sans-serif;
			font-weight: 300;
			font-style: normal;
			}
			
			i, .material-icons, .fa, .fab, .far, .fas {
			vertical-align: middle;
			}
	body
		.bmd-layout-container.bmd-drawer-f-r.bmd-drawer-overlay
			header.bmd-layout-header.fixed-top
				.navbar.navbar-light.bg-secondary.text-white
					button.navbar-toggler.text-white(type='button', data-toggle='drawer', data-target='#dw-s2')
						span.sr-only Toggle drawer

						i.material-icons menu

					ul.nav.navbar-nav
						li.nav-item 
							i.fas.fa-sun.fa-2x.mr-2
							| Quinquilharia Seis 

			#dw-s2.bmd-layout-drawer.bg-faded
				header
					a.navbar-brand(style="float: left;")
						i.fas.fa-bullseye.fa-2x.mr-2.ml-0
						| Engenho Lenovo

				ul.list-group
					a.list-group-item(href="/") First of All

					a.list-group-item(href="/jacob-riis") Unlisted Number

					a.list-group-item(href="/mark-twain") Let Me Count the Ways

			main.bmd-layout-content
				.container
					block content
					block scripts

			script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')

			script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')

			script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js', integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9', crossorigin='anonymous')

			script.
				$(document).ready(function() { $('body').bootstrapMaterialDesign(); });
