extends layout
.bmd-layout-container.bmd-drawer-f-l.bmd-drawer-overlay
	header.bmd-layout-header
		.navbar.navbar-light.bg-faded
			button.navbar-toggler(type='button', data-toggle='drawer', data-target='#dw-s2')
				span.sr-only Toggle drawer

				i.material-icons menu

			ul.nav.navbar-nav
				li.nav-item Title

	#dw-s2.bmd-layout-drawer.bg-faded
		header
			a.navbar-brand Title

		ul.list-group
			a.list-group-item Peruvian

			a.list-group-item Antediluvian

			a.list-group-item Alluvium
			
			a.list-group-item Vesuvian
			a.list-group-item Herculean
			a.list-group-item Danubian
			a.list-group-item Effluvium
			a.list-group-item Zeebrugge And

	main.bmd-layout-content
		.container
			p Main content
