body {
  padding: 0px;
  font: 14px "News Cycle", Helvetica, Arial, sans-serif;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

a {
  color: #607d8b;
}

ul.nav.navbar-nav {
	font-size: 22px;
}

main {
	margin-top: 50px;
}
